* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  min-height: calc(100% - 10vh);
  display: flex;
  justify-content: center;
  background: linear-gradient(
      0deg,
      rgba(185, 185, 185, 0.856),
      rgba(230, 230, 241, 0.856)
    ),
    url("https://c.share.photo.xuite.net/tigercat_0327/1ccf528/7082354/273154230_m.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(177, 177, 177, 0.605);
}

a {
  text-decoration: none;
}
